In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error,mean_absolute_percentage_error

In [10]:
data =pd.read_csv("data.csv")

### Formatting data

In [7]:

data  = data.drop(['date',"yr_built","yr_renovated"],axis=1)
data.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,98178,47.5112,-122.257,1340,5650
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,98125,47.7210,-122.319,1690,7639
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,98028,47.7379,-122.233,2720,8062
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,98136,47.5208,-122.393,1360,5000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,98074,47.6168,-122.045,1800,7503

In [8]:
le = LabelEncoder()

In [9]:
data['city_new'] = le.fit_transform(data['city'])

KeyError: 'city'

In [ ]:
cols  = ['bedrooms',"bathrooms","floors","price"]

for  col in cols :
    data[col] = data[col].astype(int)

# Because how can 1.50 bathroom exists

In [ ]:
data.head()

## Exploring data

In [ ]:
sns.countplot(data=data,x=data['view'])
plt.show()

#### as we can see view of maximum houses is not good but its ok we will adjust

In [ ]:
sns.countplot(data=data,x=data['condition'])

#### from the above data we can see condition of most houses is moderate not too good not too bad

In [ ]:
print(list(le.classes_))
print("\nTotal Cities Found : ",len(le.classes_))

sns.countplot(data=data,x=data['city_new'])

In [ ]:
data['city'].value_counts()

In [ ]:
data['price'].plot(title='price Range')

In [ ]:
np.mean(data['price'])

In [ ]:
sns.countplot(data=data,x=data['floors'])

In [ ]:
sns.countplot(data=data,x=data['bathrooms'])

In [ ]:
sns.countplot(data=data,x=data['bedrooms'])

In [ ]:
sns.countplot(data=data,x=data['waterfront'])

#### From all the above data we can conclude that most of the houses have :
### =>  no waterfront 
###  =>  3 bedrooms, 2 bathrooms, have moderate condition 
### => have bad view and 2 floors  and is setteled in seattle city 
### => have mean price range $ 551962.97

## Model Creation

In [ ]:
data['sqft_basement'].value_counts()

In [ ]:
data = data.drop(["city","view","waterfront","sqft_basement"],axis=1)

##### we have removed these values because they are not useful features and sqft_basement has approx 2000 rows have value '0'

In [ ]:
x  = np.array(data.loc[:,data.columns != "price"].values)
y = np.array(data["price"].values)

In [ ]:
x

In [ ]:
y

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=42)

In [ ]:
x

### using RandomForestRegressor

In [ ]:
model = RandomForestRegressor(n_estimators=10)
model.fit(x_train,y_train)
predictions = model.predict(x_test)

In [ ]:
mean_absolute_percentage_error(predictions,y_test)

### Random Forest is the winner !  because it has least Error

### Making Predictions

In [ ]:
a  = [1,1,200,200,1,2,200,36]
model.predict([a])

In [ ]:
le.transform(['Shoreline'])

In [ ]:
index  = 56
pred = model.predict([x_test[index]])[0]
print(y_test[index])
print("Amout : {0:.2f}".format(pred))